* {
  font-family: "Fjalla One";
}

svg {
  height: 70vh;
  width: 70vh;
  float: left;
}

body {
  background-color: #222;
}

p {
  color: #B99362;
}


path {
  stroke: white;
  fill: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
path:hover {
  fill: #B99362;
  -webkit-transform: translate(-5px, -5px);
          transform: translate(-5px, -5px);
}

.title_area {
  float: right;
  color: white;
  font-size: 30px;
  background-image: url("https://github.com/ikngoo/tch/raw/gh-pages/img/stream.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 115px;
}

.title_area h2 {
    margin: 0;
    font-size: 20px;
}

h1 span {
  color: #B99362;
  padding-left: 10px;
}

hr {
  width: 100px;
  margin-left: 0;
  border: none;
  border-bottom: solid 2px white;
}

.forcast {
  filter: drop-shadow(8px 8px 10px gray);
  border-radius: 5px;
}

.forcast h2, .forcast h4, .forcast h5 {
  margin: 0;
}

.forcast img {
  transition: 0.5s;
  border-radius: 10px;
  max-width: 360px;
  height: auto;
  margin: 0;
  background-color: white;
}